<a href="https://colab.research.google.com/github/anishakyomugisa/BSG_gis/blob/main/NISHA_ASSIGNMENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**SIMPLE  VARIABLE ASSIGNMENT**

In [6]:
# X = 2.5, Y = 7.5
x = 2.5
y = 7.5
type(x)
type(y)

float

**PRINT STATEMENT**

In [8]:
print("Hello, World!")

Hello, World!

**VARIABLE CONCATENATION**

In [10]:
from re import S
f_word = "Hello"
s_word = "World"
sum = f_word + s_word
print(sum)

HelloWorld

**NUMERICAL OPERATIONS**

In [11]:
x = 2.5
y = 4
product = x*y
print(product)

10.0

**STRING REPETITION**

In [18]:
name = "NYSHER, "
students = name * 7
print (students)

NYSHER, NYSHER, NYSHER, NYSHER, NYSHER, NYSHER, NYSHER,

**VARIABLE SWAP**

In [47]:
x = 4
y = 100
print("x =", y)
print("y =", x)

x = 100
y = 4

**SRING LENGTH**

In [22]:
profession = "LANDSURVEYOR"
print(len(profession))

12

**TYPE CONVERSION**

In [28]:
name = "NYSHER_is_"
age = 12
brings = f"{name}{age}"
print(brings)

NYSHER_is_12

**FORMATTED STRING**

In [38]:
a = 78
b = 95

x = f"The value of a is {a} and the value of b is {b}"

print(x)

The value of a is 78 and the value of b is 95